* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 23px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/wallpaper.jpg");

  backdrop-filter: blur(4px);

  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 350px;
  height: 550px;

  padding: 30px;

  background-color: rgba(255, 255, 255, 0.6);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  border-radius: 10px;
}

.logo {
  color: #fff;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
  text-align: center;
}

.input {
  width: 80%;

  font-size: 25px;

  padding: 5px;

  border: 0;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
}

.text {
  text-align: center;

  margin-top: 20px;

  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
}

.flex {
  display: flex;
  gap: 10px;

  margin-top: 20px;
}

.btn-find {
  width: 20%;

  font-size: 20px;
  font-weight: bold;

  border: 0;
  border-radius: 10px;

  background-color: #fff;

  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;

  cursor: pointer;
}

.btn-find:hover {
  box-shadow: none;

  transform: scale(0.95, 0.95);
  -webkit-transform: scale(0.95, 0.95);
  -moz-transform: scale(0.95, 0.95);
}

.city-name {
  text-align: center;

  margin-top: 10px;

  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
}

.date {
  text-align: center;

  margin-top: 10px;

  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
}

.weather-icon {
  text-align: center;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 2px 2px 1px);
}

.weather-icon-img {
  width: 200px;
  height: 200px;
}

.celsius {
  color: #fff;
  font-size: 50px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
  transform: translateY(-50%);
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 20px;
  }
  .container {
    width: 300px;
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 15px;
  }
  .container {
    width: 250px;
  }
  .btn-find {
    font-size: 15px;
  }
}
